@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff7da;
  color: #333333;
  font-size: 16px;
}
h1,
h2,
h3 {
}

.logo-header {
  padding: 16px 40px;
  max-width: 1180px;
  margin-inline: auto;
  margin-bottom: 32px;
}
.main-wrapper {
  padding-inline: 30px;
  padding-bottom: 72px;
}
.main-wrapper-inner {
  max-width: 880px;
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  margin-inline: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  .main-title {
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.file-upload-form {
  margin-top: 20px;
  hr {
    opacity: 0.3;
    margin-block: 16px;
  }
}
.file-up-btn {
  padding: 12px 20px;
  background-color: #333333;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.drop-zone {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  background-color: #faf9f8;
  border-radius: 10px;
  min-height: 227px;
  margin-bottom: 20px;
  .text1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .text2 {
    font-size: 16px;
    color: #757575;
    margin-bottom: 16px;
  }
  .text3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .file-up-btn {
    margin-top: 18px;
    margin-inline: auto;
  }
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ebebeb;
  background-size: cover;
  position: relative;
  min-height: 227px;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  label {
    flex-shrink: 0;
    font-size: 18px;
    display: block;
    min-width: 150px;
    font-weight: bold;
  }
}
.form-control {
  width: 100%;
  height: 44px;
  border: 1px solid #d8d8d8;
  background-color: #faf9f8;
  border-radius: 6px;
  padding-inline: 16px;
}
.input-group {
  display: flex;
  gap: 16px;
}
.copy-input-div {
  margin-top: 40px;
  margin-bottom: 40px;
  label {
    margin-bottom: 12px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  input {
    outline: none !important;
  }
}
.cpy-button {
  padding: 12px 20px;
  background-color: #e94b0a;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* Table container styling */
.table-container {
  // padding: 1rem;
  // background-color: #FFF9E6;
  // border-radius: 8px;
  overflow-x: auto;
}

/* Table styling */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
}

.styled-table th,
.styled-table td {
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  text-align: left;
}
.styled-table td {
  border: none;
}

/* Header row styling */
.styled-table thead {
  background-color: #faf9f8;
  color: #757575;
}

/* Alternating row color */
// .styled-table tbody tr.alternate-row {
//   background-color: #F9F9F9;
// }

/* Action group styling */
.action-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  * {
    flex-shrink: 0;
  }
}

/* Buttons styling */
.copy-button {
  background-color: #e94b0a;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 26px;
}

.delete-button {
  background-color: #757575;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button hover effects */
.copy-button:hover {
  background-color: #db4214;
}

.delete-button:hover {
  background-color: #686565;
}

@media (max-width: 991px) {
  .logo-header {
    padding-inline: 32px;
  }
  .main-wrapper-inner {
    padding: 48px 32px;
    .main-title {
      font-size: 48px;
    }
  }
  .drop-zone {
    margin-bottom: 40px;
    .text1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .text2 {
      font-size: 24px;
      color: #757575;
      margin-bottom: 40px;
    }
    .text3 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    .file-up-btn {
      margin-top: 40px;
      margin-inline: auto;
      font-size: 30px;
      svg {
        width: 26px !important;
      }
    }
  }
  .form-group {
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
    label {
      flex-shrink: 0;
      font-size: 26px;
      display: block;
      min-width: 150px;
      font-weight: bold;
    }
  }
  .form-control {
    height: 54px;
    font-size: 26px;
  }

  .file-upload-form {
    margin-top: 40px;
    hr {
      margin-block: 20px;
    }
  }
  .copy-input-div {
    margin-top: 56px;
    margin-bottom: 56px;
    label {
      margin-bottom: 12px;
      font-size: 26px;
      font-weight: bold;
    }
    input {
      outline: none !important;
    }
  }

  .table-container {
    overflow: visible;
  }
  #data-table-one {
    overflow: visible;
    thead {
      background-color: transparent;
    }
    tbody {
      tr {
        padding: 10px;
      }
    }
    tr {
      display: block;
      position: relative;
      .copy-button {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 22px;
        min-height: 42px;
        min-width: 91px;
      }
      .delete-button {
        position: absolute;
        right: 20px;
        top: 67px;
        font-size: 22px;
        min-height: 42px;
        min-width: 91px;
        svg {
          width: 16px !important;
        }
      }
      th {
        background-color: #faf9f8;
        padding: 16px;
        font-size: 24px;
        &:nth-child(1) {
          width: 100%;
          display: block;
        }
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
      td {
        padding: 3px 10px;
        &:nth-child(1) {
          display: block;
          font-size: 26px;
        }
        &:nth-child(2) {
          display: block;
          font-size: 20px;
        }
        &:nth-child(3) {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .logo-header {
    padding-inline: 20px;
    margin-bottom: 10px;
  }
  .main-wrapper {
    padding-bottom: 40px;
    padding-inline: 20px;
  }
  .main-wrapper-inner {
    padding: 24px 20px;
    .main-title {
      font-size: 32px;
    }
  }
  .drop-zone {
    margin-bottom: 20px;
    padding: 24px;
    .text1 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .text2 {
      font-size: 14px;
      color: #757575;
      margin-bottom: 30px;
    }
    .text3 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .file-up-btn {
      margin-top: 30px;
      margin-inline: auto;
      font-size: 15px;
      svg {
        width: 18px !important;
      }
    }
  }
  .form-group {
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
    label {
      flex-shrink: 0;
      font-size: 15px;
      display: block;
      min-width: 150px;
      font-weight: bold;
    }
  }
  .form-control {
    height: 44px;
    font-size: 16px;
  }

  .file-upload-form {
    margin-top: 25px;
    hr {
      margin-block: 15px;
    }
  }
  .copy-input-div {
    margin-top: 35px;
    margin-bottom: 35px;
    label {
      margin-bottom: 12px;
      font-size: 15px;
      font-weight: bold;
    }
    input {
      outline: none !important;
    }
  }

  .table-container {
    overflow: auto;
  }
  #data-table-one {
    overflow: visible;
    thead {
      background-color: transparent;
    }
    tbody {
      tr {
        padding: 10px;
      }
    }
    tr {
      display: block;
      position: relative;
      padding-inline: 0 !important;
      .copy-button {
        position: absolute;
        right: 0px;
        top: 15px;
        font-size: 12px;
        min-height: 28px;
        min-width: 55px;
      }
      .delete-button {
        position: absolute;
        right: 0px;
        top: 50px;
        font-size: 12px;
        min-height: 28px;
        min-width: 55px;
        svg {
          width: 12px !important;
        }
      }
      th {
        background-color: #faf9f8;
        padding: 10px;
        font-size: 14px;
        &:nth-child(1) {
          width: 100%;
          display: block;
        }
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
      td {
        padding: 3px 0;
        &:nth-child(1) {
          display: block;
          font-size: 16px;
        }
        &:nth-child(2) {
          display: block;
          font-size: 13px;
          max-width: 75%;
        }
        &:nth-child(3) {
          display: block;
          font-size: 14px;
        }
      }
    }
  }
}

// 2nd page start
/* General Styling */
.checkbox-wrapper {
  display: inline-block;
  position: relative;

input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

/* Custom Checkbox */
label {
  width: 24px; /* Adjust size */
  height: 24px;
  display: inline-block;
  border: 1px solid #d8d8d8; /* Border color */
  border-radius: 4px; /* Optional: Rounded corners */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Checkmark */
label::after {
  content: "";
  position: absolute;
  top: 43%;
  left: 50%;
  width: 12px;
  height: 5px;
  border: solid red; /* Checkmark color */
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(-400deg) scale(0);
  opacity: 0;
  transition: all 0.2s ease;
}

/* Checkbox Hover Effect */
label:hover {
  border-color: #888; /* Hover border color */
}

/* Checked State */
input[type="checkbox"]:checked + label {
  border-color: #ccc; /* Optional: Checked border color */
}

input[type="checkbox"]:checked + label::after {
  transform: translate(-50%, -50%) rotate(-400deg) scaleX(-1); /* Scale checkmark */
  opacity: 1;
}
}


#data-table-two {
  margin-top: 40px;
  margin-bottom: 40px;
  tr {
    border-bottom: 1px solid #d8d8d8;
    td {
      padding: 16px 0;
      b {
        font-size: 18px;
      }
    }
  }
}

#data-table-three {
  margin-top: 20px;
  .checkbox-wrapper {
    label {
      width: 18px;
      height: 18px;
      &::after {
        width: 7px;
        height: 3px;
        top: 48%;
      }
    }
  }
  tr {
    // border-bottom: 1px solid #d8d8d8;
    th {
      padding: 16px;
      &:last-child {
        width: 256px;
      }
    }
    td {
      padding: 16px 15px;
      &:last-child {
        text-align: right;
        .flex {
          justify-content: flex-end;
        }
      }
      .button-red {
        padding: 4px 10px;
        border-radius: 4px;
        font-size: 14px;
      }
      .flex {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      b {
        font-size: 18px;
      }
    }
  }
}

.zip-file-download-area {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  .info {
    font-size: 14px;
    color: #757575;
    max-width: 350px;
  }
  > * {
    flex-shrink: 0;
  }
}
.button-red {
  padding: 12px 20px;
  background-color: #e94b0a;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: #db4214;
  }
}
.button-outline {
  padding: 8px 16px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  font-weight: bold;
  &:hover {
    background-color: #d8d8d8;
  }
}

@media (max-width: 991px) {
  .zip-file-download-area {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    .info {
      font-size: 20px;
      color: #757575;
      max-width: 100%;
      order: 5;
    }
    .button-red {
      font-size: 24px;
    }
    .button-outline {
      margin-inline-start: auto;
      font-size: 24px;
    }
    > * {
      flex-shrink: 1;
    }
  }
  #data-table-two {
    margin-top: 40px;
    margin-bottom: 40px;
    tr {
      border-bottom: 1px solid #d8d8d8;
      display: block;
      padding-block: 20px;
      td {
        padding: 6px 0;
        display: block;
        font-size: 26px;
        b {
          font-size: 26px;
        }
      }
    }
  }
  .checkbox-wrapper label {
    width: 32px;
    height: 32px;
  }
  #data-table-three {
    margin-top: 20px;
    .checkbox-wrapper label {
      width: 24px;
      height: 24px;
      &::after {
        width: 10px;
        height: 4px;
      }
    }
    thead {
      border: none;
      tr {
        border-bottom: 1px solid #d8d8d8;
      }
    }
    tr {
      display: flex;
      width: 100%;
      position: relative;
      justify-content: space-between;

      th {
        font-size: 24px;
        display: block;
        position: relative;
        border: none;
        &:nth-child(2) {
          display: none;
        }
      }
      td {
        padding: 16px 15px 20px;
        display: block;
        width: 50%;
        font-size: 24px;
        &:last-child {
          text-align: right;
          .flex {
            justify-content: flex-end;
          }
        }
        .size {
          position: absolute;
          left: 50px;
          top: 45px;
          display: inline-block;
          font-size: 16px;
        }
        .button-red {
          padding: 4px 10px;
          border-radius: 4px;
          font-size: 22px;
          svg {
            width: 16px !important;
            height: auto !important;
          }
        }
        .flex {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        b {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .main-wrapper {
    .main-title {
      font-size: 28px;
    }
  }
  .zip-file-download-area {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    .info {
      font-size: 16px;
      color: #757575;
      max-width: 100%;
      order: unset;
    }
    .button-red {
      font-size: 16px;
    }
    .button-outline {
      margin-inline-start: 0;
      font-size: 15px;
    }
    > * {
      flex-shrink: 1;
    }
  }
  #data-table-two {
    margin-top: 20px;
    margin-bottom: 30px;
    tr {
      border-bottom: 1px solid #d8d8d8;
      display: block;
      padding-block: 10px;
      td {
        padding: 3px 0;
        display: block;
        font-size: 16px;
        b {
          font-size: 16px;
        }
      }
    }
  }
  .checkbox-wrapper label {
    width: 24px;
    height: 24px;
  }
  #data-table-three {
    margin-top: 20px;
    .checkbox-wrapper label {
      width: 18px;
      height: 18px;
      transform: translateY(4px);
      &::after {
        width: 8px;
        height: 3px;
      }
    }
    thead {
      border: none;
      tr {
        border-bottom: 1px solid #d8d8d8;
      }
    }
    tr {
      display: flex;
      width: 100%;
      position: relative;
      justify-content: space-between;

      th {
        font-size: 14px;
        display: block;
        position: relative;
        border: none;
        &:nth-child(2) {
          display: none;
        }
      }
      td {
        padding: 16px 0 20px;
        display: block;
        width: 50%;
        font-size: 14px;
        &:last-child {
          text-align: right;
          .flex {
            justify-content: flex-end;
          }
        }
        .size {
          position: absolute;
          left: 30px;
          top: 40px;
          display: inline-block;
          font-size: 13px;
        }
        .button-red {
          padding: 4px 10px;
          border-radius: 4px;
          font-size: 13px;
          svg {
            width: 12px !important;
            height: auto !important;
          }
        }
        .flex {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        b {
          font-size: 14px;
        }
      }
    }
  }
}
// 2nd page end
